body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  /*   background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png"); */
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

h1 {
  color: white;
}
.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body > img {
  margin: 5px 10px;
}

img {
  max-height: 250px;
}

p {
  color: white;
  font-size: 25px;
}

#listaSerie {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
}

#listaSerie img {
  margin: 5px 10px;
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  margin: 0 auto;
  padding: 10px 15px;
}

.decobt {
  border: 0;
  color: #ffffff;
  background: grey;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.btremove {
  border: 0;
  color: #ffffff;
  background: grey;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

#listaCapas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#listaCapas img {
  margin: 10px;
}

#listaCapas p {
  color: #ffffff;
  margin: 1px;
}

#listaCapas a {
  color: whitesmoke;
  cursor: pointer;
  text-decoration: underline;
}

.copyright {
  text-align: center;
  color: white;
}